/projects/wandb
/projects/models
/projects/checkpoints
/projects/logs
/projects/output.txt
/projects/grid_search_results
/projects/grid_search_checkpoints
/projects/hyperparameter_results_0527moe
/projects/hyperparameter_results_expert_specialized_0527
/projects/optuna_results
/projects/optuna_results_14+4
*.log
*.txt
/hyperparameter_results_0527moe_hzw
/hyperparameter_results_0527moe_wyx
/hyperparameter_results_0528moe
/optuna_checkpoints_update0527_hzw
/optuna_checkpoints_update0527_wyx
/optuna_checkpoints_update0528
/optuna_results
/optuna_checkpoints